
Original file line number	Diff line number	Diff line change
@@ -1,25 +1,7 @@
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
server/.env
server/.venv/
server/__pycache__/
server/**/__pycache__/
server/.pytest_cache/
server/instance/
server/migrations/versions/*.pyc
